.jumbotron-flexslider {
	position: relative;

	.jumbotron,  .overlay {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;

    @media (min-width: @screen-sm-min) {
        min-height: 600px;
    }

    @media (min-width: @screen-lg-min) {
        min-height: 800px;
    }
	}

	.jumbotron {
		padding: 0 !important;
		margin-bottom: 0;
		position: relative;
	}

	.jumbotron-dark {
        color: @white-color;
        background-color: @gray-darker;

        .overlay {
            background-image: url('../../Images/overlay-dark.png');
        }

        .btn {
            border-color: @white-color;
            background-color: none !important;
            color: @white-color;
        }
    }

    .jumbotron-light {
        color: @gray-darker;
        background-color: @gray-lighter;

        .overlay {
            background-image: url('../../Images/overlay-light.png');
        }
    }

	 .jumbotron-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 35px;

        @media (min-width: @screen-sm-min) {
            padding: 0;
        }

        &.jumbotron-content-centeredXY {
            left: 50%;
            margin-right: -50%;
            max-width: 1170px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .btn {
            width: auto;
        }
    }

    .flexslider {
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        position: relative;
        background: @gray-dark;

        .flex-control-nav {
            bottom: 0;
            display: none;
            z-index: 9;

            li:first-child {
                margin-left: 0;
            }
        }

        .flex-direction-nav {
            display: none;

            @media (min-width: @screen-sm-min) {
                display: block;
            }
        }

            .flex-direction-nav a {
                height: 100%;
                margin: 0;
                text-shadow: none;
                top: 0;
                width: 150px;

                &:before {
                    content: none;
                }

                &.flex-prev {
                    width: 80px;
                    left: 0;
                }

                &.flex-next {
                    right: 0;
                }
            }

        .flex-push, .jumbotron-content {
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            left: 0;
        }

        .flex-push {
            position: relative;
            right: 0;
        }

        .flex-push-right {
            right: 150px;
            left: -150px;



            .jumbotron-content {
                left: 80px;
            }
        }

        .flex-push-left {
            right: -150px;
            left: 150px;
        }
    }

    .flex-control-paging {
        li {
            a {
                background: none;
                border: 2px solid @white-color;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                -o-box-shadow: none !important;
                box-shadow: none !important;

                &.flex-active {
                    background: @white-color;
                }
            }
        }
    }

    .flex-control-nav {
        text-align: left;
        padding: 0 80px;
    }

    @media (min-width: @screen-sm-min) {
        .flexslider {
            .flex-control-nav {
                display: block;
            }

            .flex-content {
                position: absolute;
                top: 0;
                padding: 0 80px;
            }
        }
    }

    @media (min-width: @screen-md-min) {
        .flexslider {
            .flex-control-nav {
                display: block;
            }

            .flex-content {
                position: absolute;
                top: 0;
                padding: 100px 80px 0 80px;
            }
        }
    }

    .jumbotron-content {
        max-width: 98%;

        @media (min-width: @screen-md-min) {
            max-width: 50%;
        }

        @media (min-width: @screen-sm-min) {
            padding: 0 80px;
        }
    }
}

