@inherits RazorPageTemplate
@functions {
	public override void Configure()
	{
		TemplateId = new Guid("ea2ca748-efbf-4d94-8e2a-11ce49b71cd5");
		TemplateTitle = "Page with left aside";
		Layout = "MasterLayout.cshtml";
	}

	[Placeholder(Id = "start", Title = "Page Start")]
	public XhtmlDocument Start { get; set; }

	[Placeholder(Id = "content", Title = "Content", IsDefault = true)]
	public XhtmlDocument Content { get; set; }

	[Placeholder(Id = "aside", Title = "Aside column")]
	public XhtmlDocument Aside { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	@*you can add template specific head elements here*@
</head>
<body class="page-with-aside">
	@this.Function("Layout.Helpers.InjectContainerElements",
        new { Document = Start, InjectedContainerClassName = "container", DontApplyClassNameList = "container,container-fluid,c1-fullwidth,cms-fullwidth" })

	<f:function name="Layout.Navigation.Breadcrumbs" xmlns:f="http://www.composite.net/ns/function/1.0" />

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar">
					@Markup(Aside)
					@PageTemplateFeature("Aside Column")
				</div>
			</div>
			<div class="col-md-8 col-md-offset-1 ">
				<div class="content-column">
					@Markup(Content)
				</div>
			</div>
		</div>
	</div>
</body>
</html>