.btn {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}

.btn-default {
    &:hover {
        border-color: @brand-primary;
        background-color: @brand-primary;
        color: #FFFFFF;
    }
}

.dark, .darker  {

	.btn-default {
	border-color: #fff;
	background-color: none;
	color: #fff;
	}
}

@media (min-width: @screen-sm-min) {
    .btn {
        width: auto;
        padding-left: 34px;
        padding-right: 34px;
    }
}